.b-example-divider {
  height: 2rem;
  background-color: rgb(255, 255, 255);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px, 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  column-span: inherit;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}


.nav-item{
  font-family: 'Oswald', sans-serif;
  font-size: x-large;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: .75rem;
}

.icon-link {
  display: inline-flex;
  align-items: center;
}
.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  transition: transform .25s ease-in-out;
  fill: currentColor;
}
.icon-link:hover > .bi {
  transform: translate(.25rem);
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: .75rem;
}


.rounded-5 { border-radius: 1rem; }



.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  margin-left: 30px;
  margin-top: 10px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

* {
  box-sizing: border-box;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */


.card-body p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}


html{
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}


body {
  background-color: white;
  display: felx;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.row-whith-wide-cards .card {
  width: 100%;
}

.constructionServ {
  background-color: white;
  display: felx;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  border-radius: 5px;
  padding: 15px 15px;
  width: 100%;
  max-width: 1080px;

  display:flex;
  flex-direction: column;
  text-align: center;
  
}

.service {
  
  padding: 10px 20px;
  width: 100%;
  
  list-style-type: none;
  
  
  border-width: solid;
  
  border-bottom-color: thistle;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

.description {
  justify-content:left;
}


/* .card-img-top{
  margin-bottom: 25px;
  max-width: 100%;

} */

.service-title{
  color: black;
  font-family: 'Oswald', sans-serif;
  
}

.service-img{
  padding: 5px 10px;
  width: 100%;
  height: auto;
  

}



.sectionTitle {
  justify-content: center;
  text-align: center;
  padding-bottom: 0mm;
  margin-bottom: 0mm;
  margin-top: 10mm;
  font-family: 'Oswald';
  font-size: 60px;
  border-bottom:rgba(0, 0, 0, .1);

}



@media (min-width: 900px ) {
  .constructionServ {
    display: flex;
    
   

  }



}